#bg{
    position: fixed;
    left: 0;
    top:0;
    min-width: 100%;
    max-width: 100%;
    z-index:-100;
    background: url("../images/flame.jpg") no-repeat;
    background-size: cover;
}
#container{
    position: relative;
    /* margin-top:30%;
    margin-left: 30%; */
    top:400px;
    left:150px;
    text-align: center;
}
h2{
    font-size:2em;
}
h1{
    font-size:3.5em;
}
a:link, a:visited {
    text-decoration: none;
    color: #222;
}
a:hover{
    color:green;
}