div{
    width: 100px;
    height: 100px;
    background-color: blue;
    animation-name: change-bg;
    -webkit-animation-name: change-bg;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
}
@keyframes change-bg{
    from{
        background-color: blue;
        border: 1px solid black;
    }
    to{
        background-color: rgb(31, 220, 245);
        border-radius: 30%;
    }
}
@-webkit-keyframes change-bg{
    from{
        background-color: blue;
        border: 1px solid black;
    }
    to{
        background-color: rgb(31, 220, 245);
        border-radius: 30%;
    }
}
