@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
body{
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.6em;
}
#content{
  width: 500px;
  margin: 0 auto;
  position: relative;
}
.show{
  position: absolute;
  top: 260px;
  left: 20px;
}
.text{
  width: 400px;
  display: none;
  line-height: 1.5;
}
